
body{ text-align: center; background-color: rgb(22 22 22); font-family: Georgia; color: rgb(214 212 212);
}

#container{ margin-right: auto;
	margin-left: auto;
width: 1300px;
}

#main{font-weight: bold; padding: 19px;position: relative;
bottom: 50px; 
}

h2{position: relative; 
bottom: 13px;
}


#header { padding: 8px;}

ul li { text-decoration: 
}

.nav {list-style-type: none; font-weight: bold;


}
a{text-decoration: none; color:rgb(214 212 212);
font-weight: bold; }


.nav{ 
}
 
#footer{padding: 11px; text-align: right; font-weight: bold;  }

