body{
    background-color:black;
}

ul{ 
    list-style: none;
}
li{
    float: left;
}
li a{
    display: block;
    text-decoration: none;
    color: black;       
    padding-right: 300px;
    padding-left: 110px; 
    background-color:gray;
    height:26px; 
    font-size: 17.5px;}

    li a:hover{
    background: red;    
        
    }   

h1{
color:white;
text-align:center;
font-family: Arial, Helvetica, sans-serif;

}



footer{
    color:white;
font-size: 20px;
margin-top: 850px;
text-align:center;
font-family: Arial, Helvetica, sans-serif;



}